@font-face {
    font-family: 'ForemanBold';
    src: url(font/Foreman-Bold.woff);
}

body{
    font: 18px/36px 'ForemanBold', 'Arial Narrow', arial, sans-serif;
    background-color: #e46888;
}

h1{
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 1px 3px rgb(10, 9, 9);
    border-radius: 5px;
}

.gallery li{
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    border: 5px solid #070405;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li img,
.gallery li,
.gallery li span {
    border-radius: 50%;
}

.gallery li span{ 
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(170, 161, 161, 0.301);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #000000;
    text-shadow: 1px 1px 1px#140c0e;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li :hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}


/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: .7s;
    text-align: center;
    padding: 90px;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
}

.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay:target img {
    animation: fadeAja 1s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    color: white;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    border-radius: 1px solid white;
    line-height: 14px; 
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: SlideDownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fadeAja .5s .5s forwards;
}

.next, .prev {
    width: 57px;
    height: 93px;
    background-image: url(../gallery/img/next.png.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;

}

.prev {
    background-image: url(../gallery/img/previous.png.png);
    margin-left: -100px;
}

@keyframes fadeAja {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes SlideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}


/* animasi */
@keyframes ZoomdanFade {
    0% {
            transform: scale(0);
            opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}